<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team2.mapper.UserMapper">

    <sql id="base_column">
        userName,password,type 
    </sql>
    
    <insert id="addUsers" parameterType="java.util.List">
           insert into user(userName, password, type) VALUES 
           <foreach collection="list" item="user" index="index" separator=",">
               (#{user.userName},
               #{user.password},
               #{user.type}
               )
           </foreach>
    </insert>



</mapper>