<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>SellWorkeStation</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/trader.css">
    <link rel="stylesheet" href="/assets/css/myPagination.css">
</head>
<body id="bg-picture">
<div id="window-header" class="text-center">
    <div if="logo" style="width: 50%;height: 100% ;float: left">
        <img style="padding-left:20px;height: 80px ;width: 160px;float: left" src="/assets/img/citi.png">
        <h1 style="color: white">Seller Workstation</h1>
    </div>
    <div id="username" style="float: right ;height: 100%;margin-right: 50px ;margin-top: 20px">
        <a id="user-logout" style="text-decoration:none; color: white" href="/api/logout" style="color: white"></a>
    </div>
</div>
<div id="trader-content" style="background-color: white">
    <div class="trader-tab">
        <div class="float-left text-center hover-highlight highlight" id="trade-list">
            <label style="margin-top:10px; font-size: 20px;font-weight: normal">trade-list</label>
        </div>
        <div class="float-left text-center hover-highlight" id="trade-add">
            <label style="margin-top:10px; font-size: 20px;font-weight: normal">trade-add</label>
        </div>
    </div>


    <div id="trader-list-content" style="top: 55px; position:  absolute;">
        <div id="search_part" style="width: 90%;margin: 10px auto 10px auto ;">
            search-id:
            <input style="height: 35px;margin-right: 1%;margin-left: 1%" id="search-ipt">
            <button id="search-btn" style="color: white; background: #1E9FFF;height: 35px ;width: 70px ;border: none">
                search
            </button>
            <select class="select">
                <option value="5">All</option>
                <option value="0">REQUESTED</option>
                <option value="1">PROCESSING</option>
                <option value="2">PROCESSED</option>
                <option value="3">REJECTED</option>
                <option value="4">ACCEPTED</option>
            </select>
        </div>

        <div id="list" style="margin-top: 20px">
            <div class="row">
                <div class="list-title">TradeOrigSys</div>
                <div class="list-title">Txnl</div>
                <div class="list-title">sender_id</div>
                <div class="list-title">trade-time</div>
                <div class="list-title">product-id</div>
                <div class="list-title">amount</div>
                <div class="list-title">price</div>
                <div class="list-title">Status</div>
                <div class="list-title">receiver_id</div>
                <br>
            </div>
        </div>
        <div id="pagination" class="pagination"></div>
    </div>
    <div class="hide" id="trade-add-content">
        <form id="trade-add-form" method="post">
            <label> product-id</label>
            <input id="product-id">
            <br>
            <label>amount</label>
            <input id="amount">
            <br>
            <label>price</label>
            <input id="price">
            <br>
            <label>receiver-id</label>
            <input id="receiver-id">
            <br>
            <button id="submit"> submit</button>
        </form>


    </div>
</div>
<!--</div>-->
<script src="/assets/js/jquery-3.2.1.js"></script>
<script src="/layer/layer.js"></script>
<script src="/assets/js/myPagination.js"></script>
<script>
    // var sysType;
    // var status;
    function getTradeOrigSys(data) {
        if (data.TradeOrigSys == 0) {
            return "TW";
        }
        else {
            return "SW";
        }
    }

    function getStatus(data) {
        if (data.status == 0) {
            return "REQUESTED";
        }
        else if (data.status == 1) {
            return "PROCESSING";
        }
        else if (data.status == 2) {
            return "PROCESSED";
        }
        else if (data.status == 3) {
            return "REJECTED";
        }
        else if (data.status == 4) {
            return "ACCEPTED";
        }
        else {
            layer.msg("error");
        }

    }

    $("#search-btn").click(function () {
        $.ajax({
            url: "/api/seller/search",
            data: {"txni":$("#search-ipt").text()},
            type: "post",
            success: function (data) {
                $("#list").empty();
                var node = $("<div></div>").addClass("row");
                var node_origSys = $("<div></div>").addClass("list").text(getTradeOrigSys(data));
                var node_Txnl = $("<div></div>").addClass("list").text(data[0].txni);
                var node_sid = $("<div></div>").addClass("list").text(data[0].sender_id);
                var node_tradetime = $("<div></div>").addClass("list").text[0](data.trade_time);
                var node_productid = $("<div></div>").addClass("list").text(data[0].product_id);
                var node_amount = $("<div></div>").addClass("list").text(data[0].amount);
                var node_price = $("<div></div>").addClass("list").text(data[0].price);
                var node_status = $("<div></div>").addClass("list").text(getStatus(data));
                var node_receid = $("<div></div>").addClass("list").text(data[0].receiver_id);
                node.append(node_origSys, node_Txnl, node_sid, node_tradetime, node_productid, node_amount, node_price, node_status, node_receid);
                $("#list").append(node);

            }
        })
    })

    $(function () {
        var pageNum;
        $("#user-logout").text();
        $.ajax(
            {
                url: "/api/seller/getTradeList",
                type: "post",
                success: function (data) {
                    // new myPagination({
                    //     id: 'pagination',
                    //     curPage: 1, //初始页码
                    //     pageTotal:2, //总页数
                    //     pageAmount: 10,  //每页多少条
                    //     dataTotal: data.length, //总共多少条数据
                    //     pageSize: 5, //可选,分页个数
                    //     showPageTotalFlag: true, //是否显示数据统计
                    //     showSkipInputFlag: true, //是否支持跳转
                    //     getPage: function (page) {
                    //         pageNum=page;
                    //         console.log(page);
                    //         console.log("12312");
                    //     }
                    // })
                    // console.log("1");
                    // console.log("2");
                    // console.log("3");


                    // for (var key=10*pageNum;key<10*(pageNum+1);key++) {
                    console.log("I get data :", data);

                    for (key in data) {
                        console.log(data.length);
                        var node = $("<div></div>").addClass("row");
                        var node_origSys = $("<div></div>").addClass("list").text(getTradeOrigSys(data[key]));
                        var node_Txnl = $("<div></div>").addClass("list").text(data[key].txni);
                        var node_sid = $("<div></div>").addClass("list").text(data[key].sender_id);
                        var node_tradetime = $("<div></div>").addClass("list").text(data[key].trade_time);
                        var node_productid = $("<div></div>").addClass("list").text(data[key].product_id);
                        var node_amount = $("<div></div>").addClass("list").text(data[key].amount);
                        var node_price = $("<div></div>").addClass("list").text(data[key].price);
                        var node_status = $("<div></div>").addClass("list").text(getStatus(data[key]));
                        var node_receid = $("<div></div>").addClass("list").text(data[key].receiver_id);
                        node.append(node_origSys, node_Txnl, node_sid, node_tradetime, node_productid, node_amount, node_price, node_status, node_receid);
                        $("#list").append(node);
                    }
                    console.log("4");
                },
                error: function () {
                    layer.msg("error");
                }
            }
        )
    });

    $("#submit").click(function () {
        var product_id = $("product-id").val();
        var amount = $("amount").val();
        var price = $("price").val();
        var receiver_id = $("receiver-id").val();
        $.ajax({
            url: '/api/seller/addOneTrade',
            type: "post",
            data: {product_id: product_id, amount: amount, price: price, receiver_id: receiver_id},
            success: function (data) {
                layer.msg(data.status);
                // location.reload();
            },
            error: function () {
                console.log(product_id);
                layer.msg("error")
                // location.reload();
            }

        })

    });
    $(".select").bind("change", function () {
        console.log("hello ", $(".select").eq(0).val());
        console.log("this" + $(this));
        var status = $(this).val();
        console.log("status" + status);
        if (status == 5) {
            $.ajax(
                {
                    url: "/api/seller/getTradeList",
                    type: "post",
                    success: function (data) {
                        // new myPagination({
                        //     id: 'pagination',
                        //     curPage: 1, //初始页码
                        //     pageTotal:2, //总页数
                        //     pageAmount: 10,  //每页多少条
                        //     dataTotal: data.length, //总共多少条数据
                        //     pageSize: 5, //可选,分页个数
                        //     showPageTotalFlag: true, //是否显示数据统计
                        //     showSkipInputFlag: true, //是否支持跳转
                        //     getPage: function (page) {
                        //         pageNum=page;
                        //         console.log(page);
                        //         console.log("12312");
                        //     }
                        // })
                        // console.log("1");
                        // console.log("2");
                        // console.log("3");


                        // for (var key=10*pageNum;key<10*(pageNum+1);key++) {
                        console.log("I get data :", data);

                        for (key in data) {
                            console.log(data.length);
                            var node = $("<div></div>").addClass("row");
                            var node_origSys = $("<div></div>").addClass("list").text(getTradeOrigSys(data[key]));
                            var node_Txnl = $("<div></div>").addClass("list").text(data[key].txni);
                            var node_sid = $("<div></div>").addClass("list").text(data[key].sender_id);
                            var node_tradetime = $("<div></div>").addClass("list").text(data[key].trade_time);
                            var node_productid = $("<div></div>").addClass("list").text(data[key].product_id);
                            var node_amount = $("<div></div>").addClass("list").text(data[key].amount);
                            var node_price = $("<div></div>").addClass("list").text(data[key].price);
                            var node_status = $("<div></div>").addClass("list").text(getStatus(data[key]));
                            var node_receid = $("<div></div>").addClass("list").text(data[key].receiver_id);
                            node.append(node_origSys, node_Txnl, node_sid, node_tradetime, node_productid, node_amount, node_price, node_status, node_receid);
                            $("#list").append(node);
                        }
                        console.log("4");
                    },
                    error: function () {
                        layer.msg("error");
                    }
                }
            )

        }
        else {

            $.ajax(
                {
                    url: "/api/seller/searchByStatus",
                    type: "get",
                    data: {"status": status},
                    success: function (data) {
                        console.log(data);
                        $(".list").remove();
                        for (key in data) {
                            var node = $("<div></div>").addClass("row");
                            var node_origSys = $("<div></div>").addClass("list").text(getTradeOrigSys(data));
                            var node_Txnl = $("<div></div>").addClass("list").text(data[key].txni);
                            var node_sid = $("<div></div>").addClass("list").text(data[key].sender_id);
                            var node_tradetime = $("<div></div>").addClass("list").text(data[key].trade_time);
                            var node_productid = $("<div></div>").addClass("list").text(data[key].product_id);
                            var node_amount = $("<div></div>").addClass("list").text(data[key].amount);
                            var node_price = $("<div></div>").addClass("list").text(data[key].price);
                            var node_status = $("<div></div>").addClass("list").text(getStatus(data[key]));
                            var node_receid = $("<div></div>").addClass("list").text(data[key].receiver_id);
                            node.append(node_origSys, node_Txnl, node_sid, node_tradetime, node_productid, node_amount, node_price, node_status, node_receid);
                            $("#list").append(node);
                        }
                    },
                    error: function () {
                        layer.msg("select error");
                    }
                }
            )
        }
    })
    $("#trade-add").click(function () {
        $("#trade-list").removeClass("highlight");
        $("#trade-add").addClass("highlight")

        $("#trade-add-content").removeClass("hide");
        $("#trader-list-content").addClass("hide")
    });
    $("#trade-list").click(function () {
        $("#trade-add").removeClass("highlight");
        $("#trade-add-content").addClass("hide");
        $("#trade-list").addClass("highlight")
        $("#trader-list-content").removeClass("hide");
    });


</script>
</body>
</html>
