<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>SellerWorkeStation</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/trader.css">
    <link rel="stylesheet" href="/assets/css/myPagination.css">


</head>
<body id="bg-picture">
<div id="window-header" class="text-center">
    <div if="logo" style="width: 50%;height: 100% ;float: left">
        <img style="padding-left:20px;height: 80px ;width: 160px;float: left" src="/assets/img/citi.png">
        <h1 style="color: white">Seller Workstation</h1>
    </div>
    <div id="username" style="float: right ;height: 100%;margin-right: 50px ;margin-top: 20px">
        <a style="text-decoration:none; color: white" href="/api/logout" style="color: white">demo</a>
    </div>
</div>
<div id="trader-content" style="background-color: white">
    <div class="trader-tab">
        <div class="float-left text-center hover-highlight highlight" id="trade-list">
            <label style="margin-top:10px; font-size: 20px;font-weight: normal">trade-list</label>
        </div>
        <div class="float-left text-center hover-highlight" id="trade-add">
            <label style="margin-top:10px; font-size: 20px;font-weight: normal">trade-add</label>
        </div>
    </div>


    <div id="trader-list-content" style="top: 55px; position:  absolute;">
        <div id="search_part" style="width: 90%;margin: 10px auto 10px auto ;">
            search-id:
            <input style="height: 35px;margin-right: 1%;margin-left: 1%" id="search-id">
            <button style="color: white; background: #1E9FFF;height: 35px ;width: 70px ;border: none">search
            </button>
            <select class="select">
                <option value="All">All</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
            </select>
        </div>

        <div id="list" style="margin-top: 20px">
            <div class="row">
                <div class="list-title">TradeOrigSys</div>
                <div class="list-title">Txnl</div>
                <div class="list-title">sender_id</div>
                <div class="list-title">trade-time</div>
                <div class="list-title">product-id</div>
                <div class="list-title">amount</div>
                <div class="list-title">price</div>
                <div class="list-title">Status</div>
                <div class="list-title">receiver_id</div>
                <br>
            </div>
        </div>
        <div id="pagination" class="pagination"></div>
    </div>
    <div class="hide" id="trade-add-content">
        <form id="trade-add-form" method="post">
            <label> product-id</label>
            <input id="product-id">
            <br>
            <label>amount</label>
            <input id="amount">
            <br>
            <label>price</label>
            <input id="price">
            <br>
            <label>receiver-id</label>
            <input id="receiver-id">
            <br>
            <button id="submit"> submit</button>
        </form>


    </div>
</div>
<!--</div>-->
<script src="/assets/js/jquery-3.2.1.js"></script>
<script src="/layer/layer.js"></script>
<script src="/assets/js/myPagination.js"></script>
<script>
    var username = "${sessionScope.user.username}";
    var data = {
        TradeOrigSys: "trade",
        Txnl: "123123",
        sender_id: "12121",
        trade_time: "2018-09-22",
        product_id: "123213123",
        amount: "21321",
        price: "$123.1",
        status: "pending",
        receiver_id: "10001"
    };
    $("#submit").click(function()
    {
        var product_id=$("product-id").val();
        var amount=$("amount").val();
        var price=$("price").val();
        var receiver_id=$("receiver-id").val();
        $.ajax({
            url:"/api/seller/addOneTrade",
            type:'post',
            data:{product_id:product_id,amount:amount,price:price,receiver_id:receiver_id},
            success:function(data)
            {
                layer.msg(data.status);
                location.reload();
            },
            error:function () {
                layer.msg("error")
                location.reload();
            }

        })

    })



    $(function () {
        new myPagination({
            id: 'pagination',
            curPage:1, //初始页码
            pageTotal: 50, //总页数
            pageAmount: 10,  //每页多少条
            dataTotal: 500, //总共多少条数据
            pageSize: 5, //可选,分页个数
            showPageTotalFlag:true, //是否显示数据统计
            showSkipInputFlag:true, //是否支持跳转
            getPage: function (page) {
                console.log(page);

            }
        })
        // for (key in  data) {
        var node = $("<div></div>").addClass("row");
        var node_origSys = $("<div></div>").addClass("list").text(data.TradeOrigSys);
        var node_Txnl = $("<div></div>").addClass("list").text(data.Txnl);
        var node_sid = $("<div></div>").addClass("list").text(data.sender_id);
        var node_tradetime = $("<div></div>").addClass("list").text(data.trade_time);
        var node_productid = $("<div></div>").addClass("list").text(data.product_id);
        var node_amount = $("<div></div>").addClass("list").text(data.amount);
        var node_price = $("<div></div>").addClass("list").text(data.price);
        var node_status = $("<div></div>").addClass("list").text(data.status);
        var node_receid = $("<div></div>").addClass("list").text(data.receiver_id);
        // var node_btn = $("<div></div>").addClass("btn-outer").append($("<button> </button>").addClass("op_button").text("entry"));
        node.append(node_origSys, node_Txnl, node_sid, node_tradetime, node_productid, node_amount, node_price, node_status, node_receid);
        $("#list").append(node);
        // }

    });

    $("#trade-add").click(function () {
        $("#trade-list").removeClass("highlight");
        $("#trade-add").addClass("highlight")

        $("#trade-add-content").removeClass("hide");
        $("#trader-list-content").addClass("hide")
    });
    $("#trade-list").click(function () {
        $("#trade-add").removeClass("highlight");
        $("#trade-add-content").addClass("hide");
        $("#trade-list").addClass("highlight")
        $("#trader-list-content").removeClass("hide");
    });


</script>
</body>
</html>
