<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>TreaderWorkeStation</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="/layui/css/layui.css" media="all">-->

    <link rel="stylesheet" href="/assets/css/treader.css">

</head>
<body>
<div id="window-header" class="text-center">
    <div if="logo" style="width: 50%;height: 100% ;float: left">
        <img style="padding-left:20px;height: 80px ;width: 160px;float: left" src="/assets/img/citi.png">
        <h1 style="color: white">Trader Workstation</h1>
    </div>
    <div id="username" style="float: right ;height: 100%;margin-right: 50px ;margin-top: 20px">
        <a href="/api/logout" style="color: white">demo</a>
    </div>
</div>
<div id="trader-content">
    <div class="trader-tab">
        <div class="float-left text-center" id="trader-list">
            <a style="font-size: medium">trade-list</a>
        </div>
        <div class="float-left text-center" id="trade-add">
            <a>trade-add</a>
        </div>
    </div>

    <div id="trader-list-content" style="top: 130px; position:  absolute;">
        <div class="inline">tradeid</div>
        <div class="inline">trade price</div>
        <div class="inline">tarde inters</div>
    </div>
    <div id="trade-add-content" style="background: #2D93CA;top: 130px ;position: absolute`">

    </div>
</div>
<script>

</script>
</body>
</html>
