#window-header {
    background-color: #2071c9;
    height: 80px;
    width: 100%;
    position: fixed;
    box-shadow: 0 0 4px #fff;
    z-index: 1000;
    box-shadow: 0 0 4px #fff;
}
.trader-tab{

    border-radius: 5px;
    height: 50px;
    background-color: #f5f5f5;
    position: absolute;
    width: 100%;
    float: left;
}
#trader-list-content
{

    /*top: 60px;*/
    width: 100%;
    height: 680px;
    background-color: #f5f5f5;
}
.list{
    padding-top: 10px;
    margin:1px;
    height: 40px;
    width: 10.9%;
    float: left;
    position: relative;
    text-align: center;
    background-color: white;
}
.list-title{
    padding-top: 10px;
    margin:1px;
    height: 40px;
    width: 10.9%;
    float: left;
    position: relative;
    text-align: center;
    background-color:#2192ff;
    color: white;
}
.row:hover
{
    box-shadow: 0 0 3px 3px rgba(33,146,255,0.6);
}

.float-left
{
    float: left;
}
.text-center
{
    text-align: center;
}

#trade-list{
    height: 100%;
    width: 50%;
    border-radius: 5px;
}

#trade-add{
    height: 100%;
    width: 50%;
    border-radius: 5px;
}
.hover-highlight:hover{
    cursor: pointer;
    border-bottom-style:solid;
    border-bottom-color: #1e9fff;
}
. inline{
    display: inline;
}
#trader-content{
    width: 80%;
    margin: auto;
    background-color: #f2f2f2;
    position: relative;
    top:80px;
    height: 740px;
}
.highlight{

    color:#1e9fff;
    border-bottom-color: #1e9fff;

    background-color: #fcfcfc;
}
.hide{
    display: none;
}
#trade-add-form{
    width: 90%;
    margin: auto;
    padding-top:5%;
}
#trade-add-content{
    top: 55px ;
    position: absolute;
    width: 100%;
    height: 680px;
    background-color: #f5f5f5;
}

#trade-add-form label{
    /*font-size: large;*/
    font-weight: normal;
    margin: 10px 0;
    width:100px;
    text-align: center;
}
#trade-add-form input{
    margin: 10px 5px;
    height: 40px;
    width: 70%;
    border: none;
    background-color: #fff;
    border-radius: 2px;
}
#trade-add-form button{
    background-color: #1E9FFF;
    border: none;
    height: 40px;
    width: 70px;
    margin: auto;
    color: white;
    display: block;
}
.row
{
    width: 90%;
    margin:auto;
}
.op_button{
    border-radius: 5px;
    background-color: #1E9FFF;
    border: none;
    height: 35px;
    width: 70px;
    margin: auto;
    color: white;
}
.select{
    text-align: center;
    text-align-last: center;
    width: 120px;
    height: 40px;
    background-color: white;
    border: none;
    float: right;

}

#bg-picture{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}
footer {
    margin-right: auto;
    margin-left: auto;
    height: 70px;
    padding: 10px 0;
    line-height: 26px;
    text-align: center;
    color: #666;
    font-weight: 300;
}

footer a {
    color: #1E9FFF;
}
#submit{
    text-align: center;
    width: 70px;
    height: 35px;
    margin: 50px auto;
    color: white;
    background-color:#1E9FFF;
    padding-top: 8px;
}